<div id="lang-grammar">
  <h2 class="head-grammar">Grammar</h2>
  <div id="main-word-order">
    <b>Main word order</b>: {{ word.order }} <i>{{ word.orderIt }}</i>.
    <br />
    <b>Adjective order</b>: {{ word.adOrder }}
    <br />
    <b>Adposition</b>: {{ word.adposition }}
  </div>
  <br />
  <div class="table-tab" id="noun-morph">
    <div class="hh">
      <h3 class="head-noun-morph">Noun morphology</h3>
    </div>
    <table id="howbig">
      <tr>
        <th colspan="1"></th>
        <th colspan="2">Singular</th>
        <th colspan="2">Plural</th>
      </tr>
      <tr>
        <td rowspan="1">
          <b>Nominative</b>
        </td>
        <td>
          <i>man</i>
        </td>
        <td>
          <p>
            uka <br /> /uˈka/
          </p>
        </td>
        <td>
          <i>men</i>
        </td>
        <td>
          Prefix:
          <p> ɲu- <br /> /ɲu-/</p>
          <br />
          <p>ɲuuka <br /> /ɲuˈuka/</p>
        </td>
      </tr>
      <tr>
        <td rowspan="1">
          <b>Accusative</b>
        </td>
        <td>
          <i>man</i>
        </td>
        <td>
          Prefix:
          <p>ꝯa-<br />/ʤa-/</p>
          <br />
          <p>ꝯauka<br />/ʤaˈuka/</p>
        </td>
        <td>
          <i>men</i>
        </td>
        <td>
          Prefix:
          <p>u-<br />/uː-/</p>
          <br />
          <p>uuka<br />/uːˈuka/</p>
        </td>
      </tr>
      <tr>
        <td rowspan="1">
          <b>Genitive</b>
        </td>
        <td>
          <i>man"s</i>
        </td>
        <td>
          Prefix:
          <p>ɲe-<br />/ɲe-/</p>
          <br />
          <p>ɲeuka<br />/ɲeˈuka/</p>
        </td>
        <td>
          <i>men"s</i>
        </td>
        <td>
          Prefix:
          <p>s(u)-<br />/ʂ(u)-/</p>
          <br />
          <p>suka<br />/ʂuˈka/</p>
        </td>
      </tr>
      <tr>
        <td rowspan="1">
          <b>Dative</b>
        </td>
        <td>
          <i>to [the/a] man</i>
        </td>
        <td>
          Prefix:
          <p>e-<br />/e-/</p>
          <br />
          <p>euka<br />/eˈuka/</p>
        </td>
        <td>
          <i>to men</i>
        </td>
        <td>
          Prefix:
          <p>p(i)-<br />/p(i)-/</p>
          <br />
          <p>puka<br />/puˈka/</p>
        </td>
      </tr>
      <tr>
        <td rowspan="1">
          <b>Locative</b>
        </td>
        <td>
          <i>in/at/by [the/a] man</i>
        </td>
        <td>
          Prefix:
          <p>o-<br />/o-/</p>
          <br />
          <p>ouka<br />/oˈuka/</p>
        </td>
        <td>
          <i>in/at/by [the/some] men</i>
        </td>
        <td>
          Prefix:
          <p>u-<br />/uː-/</p>
          <br />
          <p>uuka<br />/uːˈuka/</p>
        </td>
      </tr>
    </table>
  </div>
  <div class="table-tab" id="def-art">
    <div class="hh">
      <h3 class="head-def-art">Definite article</h3>
    </div>
    <table>
      <tr>
        <th colspan="1"></th>
        <th colspan="2">Singular</th>
        <th colspan="2">Plural</th>
      </tr>
      <tr>
        <td rowspan="1">
          <b>Nominative</b>
        </td>
        <td>
          <i>the [man]</i>
        </td>
        <td>
          <p>ɥoꝯ<br />/ʧoʤ/</p>
        </td>
        <td>
          <i>the [men]</i>
        </td>
        <td>
          <p>ɥek<br />/ʧek/</p>
        </td>
      </tr>
      <tr>
        <td rowspan="1">
          <b>Accusative</b>
        </td>
        <td>
          <i>the [man]</i>
        </td>
        <td>
          <p>bep<br />/bep/</p>
        </td>
        <td>
          <i>the [men]</i>
        </td>
        <td>
          <p>taɥ<br />/taʧ/</p>
        </td>
      </tr>
      <tr>
        <td rowspan="1">
          <b>Genitive</b>
        </td>
        <td>
          <i>the [man's]</i>
        </td>
        <td>
          <p>ham<br />/ham/</p>
        </td>
        <td>
          <i>the [men's]</i>
        </td>
        <td>
          <p>ɥeb<br />/ʧeb/</p>
        </td>
      </tr>
      <tr>
        <td rowspan="1">
          <b>Dative</b>
        </td>
        <td>
          <i>to the [man]</i>
        </td>
        <td>
          <p>ham<br />/ham/</p>
        </td>
        <td>
          <i>to the [men]</i>
        </td>
        <td>
          <p>eb<br />/eb/</p>
        </td>
      </tr>
      <tr>
        <td rowspan="1">
          <b>Locative</b>
        </td>
        <td>
          <i>in/at/by the [man]</i>
        </td>
        <td>
          <p>tam<br />/tam/</p>
        </td>
        <td>
          <i>in/at/by the [men]</i>
        </td>
        <td>
          <p>ut<br />/ut/</p>
        </td>
      </tr>
    </table>
    Uses of definite article that differ from English:• Definite article can be omitted
    <br /> &emsp;Example: ‘I am going to jacuzzi’
    <br /> • Used for languages: ‘The English’
  </div>
  <div class="table-tab" id="indef-art">
    <div class="hh">
      <h3 class="head-indef-art">Indefinite article</h3>
    </div>
    Numeral for ‘one’ is used as indefinite article.
  </div>
  <div class="table-tab" id="pers-pronouns">
    <h3 class="head-pers-pronouns">Personal pronouns</h3>
    <table cellspacing="0" border="1">
      <tr>
        <th></th>
        <th colspan="2">Nominative</th>
        <th colspan="2">Accusative</th>
        <th colspan="2">Genitive</th>
        <th colspan="2">Dative</th>
      </tr>
      <tr>
        <td>
          <p>1st.sg</p>
        </td>
        <td>I</td>
        <td>
          <p>bo<br />/bo/</p>
        </td>
        <td>me</td>
        <td>
          <p>buꝝ<br />/buʔ/</p>
        </td>
        <td>mine</td>
        <td>
          <p>bo pu<br />/bo puː/</p>
        </td>
        <td>to me</td>
        <td>
          <p>bo hi<br />/bo hiː/</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>2nd.sg</p>
        </td>
        <td>you</td>
        <td>
          <p>hup<br />/huːp/</p>
        </td>
        <td>you</td>
        <td>
          <p>hob<br />/hob/</p>
        </td>
        <td>yours</td>
        <td>
          <p>hup pu<br />/huːp puː/</p>
        </td>
        <td>to you</td>
        <td>
          <p>hup hi<br />/huːp hiː/</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>3rd.sg</p>
        </td>
        <td>he/she/it</td>
        <td>
          <p>ꝯe<br />/ʤe/</p>
        </td>
        <td>him/her/it</td>
        <td>
          <p>ꝯob<br />/ʤob/</p>
        </td>
        <td>his/hers/its</td>
        <td>
          <p>ꝯe pu<br />/ʤe puː/</p>
        </td>
        <td>to him/her/it</td>
        <td>
          <p>ꝯe hi<br />/ʤe hiː/</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>1st.pl</p>
        </td>
        <td>we</td>
        <td>
          <p>o<br />/o/</p>
        </td>
        <td>us</td>
        <td>
          <p>oꝷ<br />/oʈ/</p>
        </td>
        <td>ours</td>
        <td>
          <p>o pu<br />/o puː/</p>
        </td>
        <td>to us</td>
        <td>
          <p>o hi<br />/o hiː/</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>2nd.pl</p>
        </td>
        <td>you</td>
        <td>
          <p>hum<br />/huːm/</p>
        </td>
        <td>you</td>
        <td>
          <p>hed<br />/heːd/</p>
        </td>
        <td>yours</td>
        <td>
          <p>hum<br />pu<br />/huːm puː/</p>
        </td>
        <td>to you</td>
        <td>
          <p>hum<br />hi<br />/huːm hiː/</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>3rd.pl</p>
        </td>
        <td>they</td>
        <td>
          <p>pe<br />/pe/</p>
        </td>
        <td>them</td>
        <td>
          <p>po<br />/po/</p>
        </td>
        <td>theirs</td>
        <td>
          <p>pe pu<br />/pe puː/</p>
        </td>
        <td>to them</td>
        <td>
          <p>pe hi<br />/pe hiː/</p>
        </td>
      </tr>
    </table>
  </div>
  <div class="table-tab" id="lang-verbs">
    <h3 class="head-verbs">Verbs</h3>
    <table class="tg">
      <tr>
        <th colspan="5">Indicative mood</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Past</td>
        <td>Present</td>
        <td>Future</td>
      </tr>
      <tr>
        <td rowspan="7">Perfective</td>
        <td></td>
        <td>
          <i>studied</i>
        </td>
        <td>
          <i>study</i>
        </td>
        <td>
          <i>will study</i>
        </td>
      </tr>
      <tr>
        <td>1st.sg</td>
        <td>
          Suffix:
          <p>-(u)ɏ<br />/-(uː)j/</p>
          <p>heeɏ<br />/heˈej/</p>
        </td>
        <td>
          No affix
          <br />
          <p>hee<br />/heˈe/</p>
        </td>
        <td>
          Suffix:
          <p>-e<br />/-eː/</p>
          <p>heee<br />/heˈeeː/</p>
        </td>
      </tr>
      <tr>
        <td>2nd.sg</td>
        <td>
          Suffix:
          <p>-(i)ɏ<br />/-(i)j/</p>
          <p>heeɏ<br />/heˈej/</p>
        </td>
        <td>
          No affix
          <br />
          <p>hee<br />/heˈe/</p>
        </td>
        <td>
          Suffix:
          <p>-(e)s<br />/-(e)ʂ/</p>
          <p>hees<br />/heˈeʂ/</p>
        </td>
      </tr>
      <tr>
        <td>3rd.sg</td>
        <td>
          Suffix:
          <p>-(a)m<br />/-(a)m/</p>
          <p>heem<br />/heˈem/</p>
        </td>
        <td>
          No affix
          <br />
          <p>hee<br />/heˈe/</p>
        </td>
        <td>
          Suffix:
          <p>-(a)t<br />/-(a)t/</p>
          <p>heet<br />/heˈet/</p>
        </td>
      </tr>
      <tr>
        <td>1st.pl</td>
        <td>
          Suffix:
          <p>-(e)ge<br />/ege/</p>
          <p>heege<br />/heˈege/</p>
        </td>
        <td>
          No affix
          <br />
          <p>hee<br />/heˈe/</p>
        </td>
        <td>
          Suffix:
          <p>-(e)mo<br />/emo/</p>
          <p>heemo<br />/heˈemo/</p>
        </td>
      </tr>
      <tr>
        <td>2nd.pl</td>
        <td>
          Suffix:
          <p>-(e)ꝯi<br />/eʤiː/</p>
          <p>heeꝯi<br />/heˈeʤiː/</p>
        </td>
        <td>
          No affix
          <br />
          <p>hee<br />/heˈe/</p>
        </td>
        <td>
          Suffix:
          <p>-u<br />/-u/</p>
          <p>heeu<br />/heˈeu/</p>
        </td>
      </tr>
      <tr>
        <td>3rd.pl</td>
        <td>
          Suffix:
          <p>-(e)go<br />/ego/</p>
          <p>heego<br />/heˈego/</p>
        </td>
        <td>
          No affix
          <br />
          <p>hee<br />/heˈe/</p>
        </td>
        <td>
          Suffix:
          <p>-e<br />/-e/</p>
          <p>heee<br />/heˈee/</p>
        </td>
      </tr>
    </table>
  </div>
  <div class="table-tab" id="lang-perf">
    <h3 class="head-verbs">Perfect aspect</h3>
    <i>‘have studied’</i>Uses the word for ‘have’ before main verb.
    <h3 class="head-verbs">Progressive aspect</h3>
    <i>‘am studying’</i>Prefix:
    <p>pe-<br />/pe-/</p>
    <br /> Tense affixes come between the root verb and the progressive affix.
  </div>
  <div class="table-tab" id="lang-imp">
    <h3 class="head-verbs">Imperative</h3>
    <i>‘study!’</i> (as a command)Prefix:
    <p>t(e)-<br />/t(e)-/</p>
    <br />
  </div>
  <div class="table-tab" id="lang-neg">
    <h3 class="head-verbs">Negation</h3>
    Prefix on verb:
    <p>u-<br />/u-/</p>
    <br /> Tense affixes come between the root verb and the negative affix.
  </div>
  <div id="lang-der-morph">
    <h3 class="head-der-morph">Derivational morphology</h3>
    <b>Noun → adjective</b>: Prefix:
    <p>h(u)-<br />/h(u)-/</p>
    <br />
    <b>Adjective → noun</b>: Prefix:
    <p>hu-<br />/hu-/</p>
    <br />
    <b>Noun → verb</b>: Prefix:
    <p>u-<br />/u-/</p>
    <br />
    <b>Verb → noun</b>: Prefix:
    <p>u-<br />/u-/</p>
    <br />
    <b>Verb → adjective</b>: Prefix:
    <p>u-<br />/u-/</p>
    <br />
    <b>Adjective → adverb</b>: Prefix:
    <p>h(e)-<br />/h(eː)-/</p>
    <br />
    <b>One who Xs (e.g. paint → painter)</b>: Prefix:
    <p>ɥ(e)-<br />/ʧ(e)-/</p>
    <br />
    <b>Place where (e.g. wine → winery)</b>: Prefix:
    <p>s(u)-<br />/ʂ(uː)-/</p>
    <br />
    <b>Diminutive</b>: Prefix:
    <p>s(u)-<br />/ʂ(u)-/</p>
    <br />
    <b>Augmentative</b>: Prefix:
    <p>o-<br />/o-/</p>
    <br />
    <br />
  </div>
</div>
