.display,
input,
textarea {
  display: block;
  margin: 0 auto;
  text-align: center;
}

textarea {
  border: 1px solid black;
}

div#translate-switch-buttons {
  display: block;
  margin: 0 auto;
  text-align: center;
}

button#English-to-Johi,
button#Johi-to-English {
  background-color: aqua;
  cursor: pointer;
}

input#translate-button {
  width: 45%;
  background-color: aqua;
  cursor: pointer;
}
