<div id="lang-grammar">
  <div class="table-tab bg-block" id="lang-perf">
    <h3 class="head-verbs">Perfect aspect</h3>
    <p> <i>‘have studied’</i> No perfect aspect. </p>

    <h3 class="head-verbs">Progressive aspect</h3>
    <p> <i>‘am studying’</i> Uses the word ‘now’ before main verb. </p>
  </div>
  <div class="table-tab bg-block" id="lang-imp">
    <h3 class="head-verbs">Imperative</h3>
    <p> <i>‘study!’</i> (as a command) </p>
    <p>
      Suffix:
      <span [innerHTML]="getBrackets('-e /-e/')"> Loading... </span>
    </p>
    <br />
  </div>
  <div class="table-tab bg-block" id="lang-neg">
    <h3 class="head-verbs">Negation</h3>
    <p>
      Suffix on verb:
      <span [innerHTML]="getBrackets('-(u)ȝ /-(u)j/')"> Loading... </span>
    </p>
    <p>Tense affixes come between the root verb and the negative affix.</p>
  </div>
</div>
