<div id="lang-full">
  <div class="output" id="lang-name">
    <h1 class="head-langname">The Language of Johi</h1>
    <h2>
      <h5 class="center">
        <p>Natively known as: ꝭoʯi</p>
        <p>/ʃoˈʔi/</p>
      </h5>
    </h2>
    <div id="lang-sentence">
      <p [innerHTML]="langName().engSentence"> Loading... </p>
      <p [innerHTML]="langName().sentence"> Loading... </p>
      <p> <b>Pronunciation</b>: </p>
      <p class="IPA" [innerHTML]="langName().pronunciation"> Loading... </p>
      <p> <b>Johi word order</b>: </p>
      <p class="word-order" [innerHTML]="langName().wordOrder"> Loading... </p>
    </div>
    <!-- <div id="lang-seed"> -->
    <!-- Seed for this language: -->
    <!-- <b>28315718894752484</b> -->
    <!-- </div> -->
    <nav>
      <a routerLink="/translate" routerLinkActive="active">Translator</a>
      <a routerLink="/consonants" routerLinkActive="active">Consonants</a>
      <a routerLink="/vowels" routerLinkActive="active">Vowels</a>
      <a routerLink="/syllables" routerLinkActive="active">Syllables</a>
      <div class="dropdown">
        <button class="dropbtn">
          <b>Grammar</b> &nbsp;
          <i class="down-arrow"></i>
        </button>
        <div class="dropdown-content">
          <a routerLink="/grammar" routerLinkActive="active">Grammar</a>
          <a routerLink="/articles" routerLinkActive="active">Articles</a>
          <a routerLink="/morphology" routerLinkActive="active">Morphology</a>
          <a routerLink="/grammar-misc" routerLinkActive="active">Miscellaneous</a>
        </div>
      </div>
      <a routerLink="/lexicon" routerLinkActive="active">Lexicon</a>
      <a routerLink="/data" routerLinkActive="active">Data</a>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
