nav {
	overflow: hidden;
	background-color: #333;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 1em;
}

nav a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-right: 1px solid white;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	border-right: 1px solid white;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #F9F9F9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #DDD;
}

.dropdown:hover .dropdown-content {
	display: block;
}

table:not(#vowelTable),
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	vertical-align: center;
	border-spacing: 5px;
	font-family: serif;
}

th {
	background-color: #4CAF50;
	color: white;
	border: 1px solid black;
}

table:not(#vowelTable) {
	margin: auto;
	border: 1px solid black;
	border-collapse: collapse;
	width: 95%;
}

table:not(#vowelTable) th,
table:not(#vowelTable) td {
	border: 1px dashed black;
	vertical-align: center;
	text-align: center;
}

table:not(#vowelTable) th {
	border: 1px solid black;
	background-color: #00F;
	color: #FFF;
}

table:not(#vowelTable) tr:nth-child(odd) {
	background-color: #CCC;
}

table:not(#vowelTable) tr:nth-child(even) {
	background-color: #EEE;
}

#vowelChart {
	background: #F2F2CE;
	text-align: center;
	font-weight: bold;
	font-size: 125%;
}

#constTable td {
	text-align: center;
}

.center {
	text-align: center;
}

.down-arrow {
	border: solid grey;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	/* float: right; */
}
