main {
  float: none;
}

r {
  font-weight: bold;
}

#vowelChart {
  background: #F2F2CE;
  text-align: center;
  font-weight: bold;
  font-size: 125%;
}

#constTable td {
  text-align: center;
}

#vowelHead {
position: relative; line-height:1.4em;background:transparent; background:#f9f9f9;; margin:0em auto 0em auto;}

#vowelHead tr {
  text-align: center;
}

#vowelHead td:nth-child(odd) {
  width: 64px;
}

#vowelHead td:nth-child(even) {
  width: 62px;
}



#vowelGraph div {
  position: absolute;
  top: 8px;
  left: 38px;
  width: 60px;
  height: 1px;
  background: transparent;
}

#vowelGraph div span {
  position: absolute;
  left: 0px;
  background: transparent;
  text-align: right;
}

#vowelGraph .vowel1 {
  background: #F9F9F9;
  padding: 0px 1px 0px 2px;
}

#vowelGraph .vowel2 {
  padding: 0px 1px 0px 2px;
  background: transparent;
}



#vowelTable th {
  background-color: blue;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

#lang-lexi th {
  background-color: deepskyblue;
}

#lang-lexi tr:nth-of-type(even) {
  background-color: rebeccapurple;
}

#lang-lexi tr:nth-of-type(odd) {
  background-color: aqua;
}
