<div id="lang-grammar">
  <div class="table-tab bg-block" id="def-art">
    <div class="hh">
      <h3 class="head-def-art">Definite article</h3>
    </div>
    <table>
      <tr>
        <th colspan="1"></th>
        <th colspan="2">Singular</th>
        <th colspan="2">Plural</th>
      </tr>
      <tr *ngFor="let article of pronDefArticle">
        <td> <b>{{ article }}</b> </td>
        <td [innerHTML]="defArticleNameType[article].singular"> Loading... </td>
        <td [innerHTML]="defArticle[article].singular"> Loading... </td>
        <td [innerHTML]="defArticleNameType[article].plural"> Loading... </td>
        <td [innerHTML]="defArticle[article].plural"> Loading... </td>
      </tr>
    </table>
    Uses of definite article that differ from English:
    <ul>
      <li>
        Definite article can be omitted <br />
        <p [innerHTML]="example().defArt"> Loading... </p>
      </li>
      <br />
      <li>Used for languages: ‘The English’</li>
    </ul>
  </div>
  <div class="table-tab bg-block" id="indef-art">
    <h3 class="hh head-indef-art">Indefinite article</h3>
    <p [innerHTML]="example().indefArt"> Loading... </p>
  </div>
</div>
