table,
th,
td {
  border: 1px solid black;
  border-spacing: 5px;
  border-collapse: collapse;
  vertical-align: center;
  text-align: center;
  font-family: serif;
}

th {
  border: 1px solid black;
  background-color: #4CAF50;
  color: white;
}

table {
  margin: auto;
  width: 95%;
  border: 1px solid black;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px dashed black;
  vertical-align: center;
  text-align: center;
}

table th {
  border: 1px solid black;
  background-color: #00F;
  color: #FFF;
}

table tr:nth-child(odd) {
  background-color: #CCC;
}

table tr:nth-child(even) {
  background-color: #EEE;
}

.getLetter {
  vertical-align: center;
  text-align: center;
}

#table-sort {
  display: block;
  margin: auto;
}

.letterCheck {
  color: blue;
  cursor: pointer;
}

.letterCheck:hover {
  color: #D80036;
  text-decoration: underline;
}
