<div id="lang-lexi">
  <p id="table-sort">
    <button id="JohianSort" class="button0 button10" (click)="changeLang('Lang')">Sort By Johian Words</button>
    <button id="EnglishSort" class="button0 button10" (click)="changeLang('English')">Sort By English Words</button>
  </p>
  <br />
  <table id="johi-letter">
    <tr>
      <th class="letterSort" [attr.colspan]="symbolColspan" (click)="allClick()"> All Letters </th>
    </tr>
    <tr>
      <ng-container *ngFor="let letter of symbols1">
        <ng-container *ngFor="let find of getAllWords">
          <ng-container *ngIf="letter == find.letter">
            <ng-template [ngIf]="find.words.length !== 0" [ngIfElse]="letterCheck1">
              <td class="letterSort" (click)="letterClick(find)"> <span> {{ letter }} </span> </td>
            </ng-template>
            <ng-template #letterCheck1>
              <td> <span> {{ letter }} </span> </td>
            </ng-template>
          </ng-container>
        </ng-container>
      </ng-container>
    </tr>
    <tr>
      <ng-container *ngFor="let letter of symbols2">
        <ng-container *ngFor="let find of getAllWords">
          <ng-container *ngIf="letter == find.letter">
            <ng-template [ngIf]="find.words.length !== 0" [ngIfElse]="letterCheck2">
              <td class="letterSort" (click)="letterClick(find)"> <span> {{ letter }} </span> </td>
            </ng-template>
            <ng-template #letterCheck2>
              <td> <span> {{ letter }} </span> </td>
            </ng-template>
          </ng-container>
        </ng-container>
      </ng-container>
    </tr>
  </table>
  <br />
  <h3 class="getLetter"> {{ newGetLetter.letter }} </h3>
  <h3 class="getLetter"> {{ newGetLetter.count }} </h3>
  <table id="lexicon-table">
    <tr>
      <th> Spelling </th>
      <th> /Pronunciation/ </th>
      <th> Part Of Speech </th>
      <th> Definition(s) </th>
      <th> Part Of Speech 2 </th>
      <th> Definition(s) 2 </th>
    </tr>
    <tr *ngFor="let newWord of newTable">
      <td>
        {{ newWord.spelling }}
      </td>
      <td> {{ newWord.IPA }} </td>
      <td> {{ newWord.partOfSpeech }} </td>
      <td> {{ newWord.engWord }} </td>
      <td> {{ newWord.partOfSpeech2 }} </td>
      <td> {{ newWord.engWord2 }} </td>
    </tr>
  </table>
</div>
