<div id="evolveLang">
  <h5>
    <p> <button class="button0 button10" onclick="evolve()">Evolve language (beta)</button> </p>
    <p> This feature applies <b>sound changes</b> to the IPA of your language and allows you to reconfigure the orthography (jump to orthography). </p>
    <p> Use the format <b>e > ɛ</b> to apply changes. (Supports RegEx, and <b>OR</b> command to create random choice between two options). </p>
    <textarea id="evsound" rows="12" cols="15" autocapitalize="off" spellcheck="false" style="margin-right: 20px; margin-top: 10px;"></textarea>
  </h5>
</div>
